/* Author: Mihir Mesia */
:root {
  --white-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.login_form {
  width: 42.5rem;
  height: 43.5rem;
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
}
.login {
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.login_logo {
  position: relative;
  top: -4rem;
}
.login_logo img {
  width: 10.5rem;
  height: 9.5rem;
}

.login_fields {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
}

.login_input_group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2rem;
  width: 100%;
}

.login_input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: black;
  background-color: transparent;
  outline: 2px solid #c46919;
  width: 100%;
  font-size: 2rem;
}

.login_input_label {
  position: absolute;
  top: 6px;
  left: 2.5rem;
  font-size: 2rem;
}

.login_input:focus + .login_input_label,
.login_input:valid + .login_input_label {
  transform: translate(10px, -8px) scale(1);
  color: #c46919;

  padding-inline: 5px;
  font-size: 1.5rem;
}

.login_input:is(:focus, :valid) {
  outline-color: #c46919;
}

.login_btn {
  margin-top: 2rem;
  width: 50%;
  height: 20%;
  background: transparent;
  color: black;
  border: 2px solid #c46919;
  padding: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
}

/* New Account Registration */
.login_no_account {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login_no_account > p {
  font-size: 1.5rem;
}

.login_no_account > a {
  background: none;
  border: none;
  color: #c46919;
  margin-left: 0.01rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
