@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&family=Nova+Mono&display=swap");

.mainarea {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin-left: 0;
  padding: 20px 40px;
  width: 100%;
  align-items: center;
  font-family: "Spectral", "serif";
  color: #cc3636;
}

h1 {
  font-size: 4.5rem;
}
.header {
  display: flex;
  padding: 10px;
  width: 100%;
}

.wishlist_data_list {
  width: 100%;
}
.wishlist_data_img {
  height: 35rem;
}
