/* AUTHOR: HARSHIT GAJJAR */
.top-row {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background: plum; */
}
.menu_list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.menu_title {
  font-size: 3rem;
  font-weight: 700;
  padding: 4rem 0;
}

.home_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Product */
.product_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
  justify-content: space-between;
  align-items: flex-start;
  /* background: peru; */
}
