.css-sprite-pizza1 {
  background: url("../../../sprites/css-sprite-combined.png") 0px -0px;
  width: 128px;
  height: 128px;
  display: inline-block;
}

.css-sprite-burger {
  background: url("../../../sprites/css-sprite-combined.png") -128px -0px;
  width: 128px;
  height: 128px;
  display: inline-block;
}

.css-sprite-nachos {
  background: url("../../../sprites/css-sprite-combined.png") -256px -0px;
  width: 128px;
  height: 128px;
  display: inline-block;
}

.css-sprite-cold-drink {
  background: url("../../../sprites/css-sprite-combined.png") -384px -0px;
  width: 128px;
  height: 128px;
  display: inline-block;
}

.css-sprite-sandwich {
  background: url("../../../sprites/css-sprite-combined.png") -512px -0px;
  width: 128px;
  height: 128px;
  display: inline-block;
}
