/* AUTHOR: HARSHIT GAJJAR */
:root {
  --menu-background: #fff;
  --menu-selected: #f49001;
}

.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--menu-background);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.menu_name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.menu_active {
  background: var(--menu-selected);
}

.product_img {
  width: 20rem;
  height: 20rem;
}
