/* AUTHOR: HARSHIT GAJJAR */
.pagination_container {
  width: 100%;
  margin-top: 5rem;
}

.pagination_background {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  width: 2.5rem;
  height: 2.5rem;
}

.pagination_ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.pagination_ul > li {
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #421e1e;
  background: green;
}

.selected_ul {
  color: #421e1e;
  width: 2.5rem;
  height: 2.5rem;
  background: #f49001;
  display: flex;
  justify-content: center;
  align-items: center;
}
