.pagination_container {
  width: 100%;
  margin-bottom: 5rem;
}

.pagination_ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.pagination_ul > li {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.selected_ul {
  /* background: orange; */
  color: #fff;
  border-bottom: 0.1rem solid #fff;
}
