/* AUTHOR: HARSHIT GAJJAR */
:root {
  --add-to-cart: #f49001;
  --calorie-color: #767676;
  --plus-color: #fff;
  --heart-color: #f14646;
  --heart-background: rgb(245, 210, 209);
}

/* span {
  margin-top: 2rem;
} */

.product_img {
  width: 20rem;
  height: 20rem;
}

.product_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product_card {
  padding: 1rem;
  background: #fff;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 25rem;
  margin-bottom: 3rem;
  /* justify-content: center;
  align-items: center; */
}

.product_heart {
  color: var(--heart-color);
  padding: 0.2rem;
  cursor: pointer;
}

.wishlist_btn {
  background: none;
}

.product_wishlist {
  position: absolute;
  background: var(--heart-background);
  left: 1;
  padding: 0.5rem;
  border-radius: 50%;
}

.product_name {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 1rem;
  color: #421e1e;
}

.product_calories {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--calorie-color);
  margin-top: 0.4rem;
}

.product_end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product_price {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  height: 100%;
  color: #421e1e;
}

.product_add {
  padding: 1rem;
  background: var(--add-to-cart);
  border-radius: 50%;
  cursor: pointer;
  color: var(--plus-color);
}
