/* AUTHOR: HARSHIT GAJJAR */
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Kalam:wght@400;700&family=Spectral:wght@400;700&display=swap");
:root {
  --btn-background: #f09312;
  --btn-txt: #fff;
}

.setting_title {
  color: #e95200;
  margin-bottom: 1rem;
}

.setting_container {
  display: flex;
  margin-bottom: 1rem;
}

.settings_all_data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Spectral", "serif";
}

.setting_block {
  width: 100%;
  margin-top: 2rem;
}

input:focus {
  outline: none;
}

input:disabled {
  background-color: #dfdfdf;
}

.setting_label {
  font-size: 2rem;
  font-weight: 800;
  color: #421e1e;
}

.setting_input {
  border: none;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  width: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Spectral", "serif";
}

.setting_actions {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_setting {
  border: none;
  background: var(--btn-background);
  color: #421e1e;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Spectral", "serif";
}

.delete_btn {
  background: #cc3636;
  color: #fff;
}
