@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Kalam:wght@400;700&family=Spectral:wght@400;700&display=swap");
caption {
  background: orange;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  color: #421e1e;
  font-family: "Spectral", "serif";
}

table {
  width: 40%;
}
