@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Kalam:wght@400;700&family=Spectral:wght@400;700&display=swap");
.burger_size_block {
  padding: 1rem;
  background: #fff;
  cursor: pointer;
  border: none;
}

.selected_size {
  background: #f49001;
}

.burger_size_block > span {
  font-size: 2.5rem;
  color: #421e1e;
  font-weight: 500;
  font-family: "Spectral", "serif";
}
