.logo_container {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.logo_size {
  width: 5%;
  height: 5%;
}

.company_name {
  font-size: 5rem;
  font-weight: 600;
  margin: 0 2rem;
}
