/* AUTHOR: HARSHIT GAJJAR */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
.logo_container {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.logo_size {
  /* width: 10%;
  height: 10%; */
  width: 8rem;
  height: 8rem;
}

.company_name {
  font-family: "Kalam", "cursive";
  font-size: 5rem;
  font-weight: 600;
  margin: 0 2rem;
  color: #421e1e;
}
