/* AUTHOR: HARSHIT GAJJAR */
.logo_container {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.logo_size {
  /* width: 10%;
  height: 10%; */
  width: 8rem;
  height: 8rem;
}

.company_name {
  font-size: 5rem;
  font-weight: 600;
  margin: 0 2rem;
  color: #421e1e;
}
