/* AUTHOR: HARSHIT GAJJAR */
:root {
  --highlight-color: #f09312;
  --add-to-cart-background: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.cart_container {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--add-to-cart-background);
}

.login_cart_div {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.login_btn_cart {
  border: none;
  background-color: var(--highlight-color);
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #421e1e;
  width: 30%;
  border-radius: 3rem;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
}

.delievry_img {
  width: 30rem;
  height: 30rem;
  margin-top: 4rem;
}

.delivery_block {
  display: flex;
}

.horizontal_margin {
  margin: 0 0.8rem;
}

.highlight {
  color: #e07531;
}

.fast_delivery {
  font-size: 2rem;
  margin-top: 4rem;
  font-weight: 800;
}

.your_order {
  width: 95%;
  margin-top: 5rem;
}

.your_order > p {
  font-size: 2rem;
  font-weight: 500;
}

.order_summary {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  flex-direction: column;
}

.order_summary_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.order_summary_div_value {
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 0.5rem;
}

.order_summary_txt {
  font-size: 1.5rem;
  font-weight: 800;
  align-items: center;
}

.order_checkout_div {
  width: 50%;
  background: var(--highlight-color);
  border: none;
  padding: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
  color: #7d0800;
  margin: auto;
  cursor: pointer;
}
