/* AUTHOR: HARSHIT GAJJAR */
:root {
  --pizza-title-color: #f49001;
}

.pizza_builder_content {
  width: 100%;
}

.pizza_builder_title {
  font-weight: 800;
  color: var(--pizza-title-color);
  font-size: 5rem;
}

.pizza_size {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pizza_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 0;
}

.pizza_row > img {
  width: 40rem;
  height: 40rem;
}

.pizza_img_parent {
  position: relative;
  top: 0;
  left: 0;
}

.pizza_crust {
  width: 40rem;
  height: 40rem;
  display: flex;
  position: relative;
}

.pizza_base {
  display: flex;
  position: absolute;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
}

.builder_cart {
  width: 100%;
  background: orange;
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}

.pizza_toppings {
  width: 30rem;
  height: 30rem;
  top: 0;
  left: 0;
  position: absolute;
}

.pizza_summary_block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pizza_summary_block > button {
  width: 40%;
  background: #f09312;
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  margin: 3rem 0;
  cursor: pointer;
}
