/* AUTHOR: HARSHIT GAJJAR */
.pizza_size_block {
  padding: 1rem;
  background: #fff;
  cursor: pointer;
  border: none;
}

.selected_size {
  background: #f09312;
}

.pizza_size_block > span {
  font-size: 2rem;
  color: #421e1e;
  font-weight: 500;
}
