/* AUTHOR: HARSHIT GAJJAR */
.pizza_tb_data {
  display: table;
  width: 100%;
}

tr > td {
  font-size: 2rem;
  background: #fff;
  padding: 1rem;
  cursor: pointer;
}

.crust_selected {
  background-color: orange;
}

.crust_calories {
  font-size: 1.2rem;
  font-weight: 400;
}

.crust_price {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 2rem;
}
